@model TempoDigitalApex3.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/Content/NewTemplate/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/Content/NewTemplate/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>


<body background='https://tpdigital.blob.core.windows.net/logo/BG.JPG' style="background-repeat:no-repeat;  background-size:100% 100%;">
    <center>
        <img id="logo" src="https://tpdigital.blob.core.windows.net/logo/logo.JPG" style="margin-top: 10%;" />
    </center>

    <div id="ConnectMessage">
        <div class="w3-container">
            <center>
                <div class="w3-panel w3-card" style="width:40%; background-color:ghostwhite; ">
                    <h3><b>Enter your Registered Email.</b></h3>
                    <center>
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @style = "width: 80%;" }))
                        {
                            @Html.AntiForgeryToken()
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger", @style = "color: red;" })

                            <center>
                                <div style="width: 100%;">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </center>

                            @*<div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })

            </div>*@
                            <br />
                            <center>
                                <div style="width: 50%;">
                                    <button type="submit">Reset Password</button>
                                    @*<input type="submit" class="btn btn-success" value="Email Link" />*@
                                </div>
                            </center>
                        }
                    </center>
                </div>
            </center>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>