@using TempoDigitalApex3.Models
@model LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/Content/NewTemplate/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js"></script>

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/Content/NewTemplate/css/style.css">

    <script>
        window.onload = function () {
            $.getJSON('https://api.ipify.org?format=json', function (data) {
                //console.log(data.ip);
                //$('#loginForm').append("");
                $("#IP").val(data.ip);
            });
        }; 
    </script>

</head>

<body background='~/Content/NewTemplate/images/bg-registration-form-2.jpg' style="background-repeat:no-repeat;  background-size:100% 100%;">

    <div class="wrapper">
        <div class="inner">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3>Login Form</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-wrapper">
                    @Html.LabelFor(m => m.Email, new { })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-wrapper">
                    @Html.LabelFor(m => m.Password, new { })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <input type='hidden' name='IP' id="IP"  />
                @Html.CheckBoxFor(m => m.RememberMe)

                @Html.LabelFor(m => m.RememberMe)

                <button type="submit">Login</button>

                <div class="hint-text small" style="margin-left: 60px;">
                    <br />
                    Forgot Password?
                    @Html.ActionLink("Reset Password", "ForgotPassword")

                </div>
                @*<div class="hint-text small" style="margin-left: 60px;">
                <br />
                Don't Have an account?
                @Html.ActionLink("Register as a new user", "Register")

            </div>*@
                <div class="hint-text small" style="margin-left: 60px;">
                    <br />
                    Don't Have an account?
                    @Html.ActionLink("Register for Music Distributions", "RegisterDistribution")

                </div>
            }
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>


</body>
</html>